
extends layouts/main-layout.pug
block content
    if !profileUser
        span.errorMessage USER PROFILE IS NOT FOUND IN THE DATABASE 
    else
        script. 
            var profileUserId= '!{profileUser._id}'; //Take user name variable passed into the payload from appjs and inject it into the page
            var selectedTab= '!{selectedTab}'; 
        .tabsContainer
            +createTab("Following", `/profile/${profileUser.username}/following`, selectedTab !="followers")
            +createTab("Followers", `/profile/${profileUser.username}/followers`, selectedTab == "followers")
        .resultsContainer
block scripts
    script(src="/js/followersAndFollowing.js") 