extends layouts/main-layout.pug
block content 
    .chatPageContainer 
        .chatTitleBar 
            label(for="userSearchTextBox") To:
            #selectedUsers
                input#userSearchTextBox(type="text", name="searchBox",data-search=selectedTab, placeholder="Type the name of the person")
        .resultsContainer 
        button#createChatButton(disabled) Create Chat

