extends layouts/main-layout.pug
block content
    if !profileUser
        span.errorMessage USER PROFILE IS NOT FOUND IN THE DATABASE 
    else
        span #{profileUser.firstName}
        .postsContainer
        +createPostModals(userLoggedIn)
block scripts
    script(src="/js/profile.js") 