extends layouts/login-layout.pug 

block content
    .loginContainer
        h1 Register  
        form#registerForm(method="post", onsubmit="event.preventDefault(); validateForm();")

            p.errorMessage #{errorMessage}

            input#firstName(type="text", name= "firstName", placeholder ="First Name", value=firstName, required="")
            input#lastName(type="text", name= "lastName", placeholder ="Last Name", value = lastName, required="")
            input#userName(type="text", name= "username", placeholder ="Username", value = username, required="")
            input#userName(type="email", name= "email", placeholder ="Email",value = email)
            input#passWord(type="password", name="password", placeholder ="Password", required="")
            input#passWordConf(type="password", name="passwordConf", placeholder ="Confirm Password", required="")
            input(type="submit", value="Login")
            br
            a(href="/login") Already have an account? Sign in here.
    
    script. 
       var passwordField = document.getElementById("passWord") 
       var passwordConfirmField= document.getElementById("passWordConf") 
       var form = document.getElementById("registerForm")

       function validateForm() {
           if (passwordField.value != passwordConfirmField.value) {
               alert("Passwords do not match. Please try again")
           } else {
               form.submit();
           }
       } 